 /* Write your CSS here! */
@font-face{
  font-family: "Yagiza";
  src:url("./fonts/YAGIZA__.TTF");
}

@font-face{
  font-family: "Pixel";
  src:url("./fonts/slkscr.ttf");
}
@font-face{
  font-family: "Popstar";
  src:url("./fonts/POPSTAR.TTF");
}
@font-face{
  font-family: "Digi";
  src:url("./fonts/01DigiGraphics.ttf");
}
@font-face{
  font-family: "wavy";
  src:url("./fonts/Goo.ttf");
}


body {
    background-image: url("./pics/background.jpg");
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding:0px;
    margin:8px 8px 8px 8px;
    display:block;
    margin: 0px;
    box-sizing:border-box;

}
footer{
  
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40px;
  padding: 0px 0px 20px 0px;
}

.backTop{
  position: relative;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Popstar";
  font-size: 14px;
  color: #6810a3;
}


/* Header Style-------------------------------------------------------- */
header{
    background-image: url("./pics/header2.jpg");
    height: 250px;
    width: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    top: 0;
}

h1{
    margin: 0px;
    font-family: "Yagiza";
    font-size:30px;
    text-align: center;
    line-height:33px ;
}

#mainHeading{
  color: red;
} 


.funParagraph{
  color: green;
  font-family:Digi; 
  text-align:center; 
  font-size:16px; 
  word-spacing:3px
}

.hd1{
  position:absolute;
  top:85px;
  left:330px;
  width:470px;
  z-index: 1;
}

.conHeader{
  position: relative;
  height:240px;
  top:0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.imgh1{
  position:absolute;
  height: 65%;
  width: 40%;
  top:30px;
  left:270px;
}

.imgh2{
  position:absolute;
  width: 26%;
  top:90px;
  left:810px;
}

.hp1{
  position:absolute;
  top:120px;
  left:840px;
  width:355px;
  z-index: 1;
}


/* Navigation Style-------------------------------------------------------- */
.topnav {
    background-color: #f3c7f8;
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    bottom: 5;
    min-width: 800px;
    text-align: center;
    height: 40px;
    padding: 10px 20px;
  }
  
  .topnav a {
    position: relative;
    top: 10px;
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Popstar";
    font-size: 17px;
    
  }
  
  .topnav a:hover {
    background-color: #f3c7f8;
    color: black;
  }

/* Main Style-------------------------------------------------------- */
  main{
    padding: 70px 10px 10px 10px;
    margin: 0px 0px 0px 0px; 
  }

  h3{
    font-family: "Pixel";
    text-align: center;
    font-size: 30px;
  }

  p{
    text-align: Center;
  }

.container1 {
    position: relative;
    height: 325px;
     margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
} 
.sideimage1{
  position: absolute;
  width: 20%;
  left: 720px;
  bottom:75px;
}


.sideimage3{
  position: absolute;
  width: 20%;
  left: 500px;
  bottom: 105px;
}

#coco{
  right: 20px;
  width: 260px;
}

#cocotext{
  font-size: 28px;
}

#bb{
  left: 43px;
}
.youthens{
  font-family: "wavy";
  font-size:x-small;
  font-style:italic;
}

#bf{
  left:70px;
}

#ss{
  left:40px;
  top:10px;
}
#sstext{
  font-size: 25px;
}






 /* left side default Style-------------------------------------------------------- */
.image1L {
    position: relative;
    width:17%;
    height: 80%;
    top: 0;
    left: 25px;
    z-index: 2;
  }
  .image2L {
    position: absolute;
    height: 80%;
    width: auto;
    top: 30px;
    left: 250px;
    z-index: 1;
  }

  .hd3L {
    position: absolute;
    left:57px;
    top:5px;
    z-index: 3;

  }

  .p1L{
    position: absolute;
    width: 350px;
    height:auto;
    top:60px;
    left:290px;
    z-index: 4;
  }
   
  /* Right side default Style-------------------------------------------------------- */
.image1R {
    position: relative;
    width:17%;
    height: 80%;
    top: 190px;
    left: 1220px;
    z-index: 2;
  }
  .image2R {
    position: absolute;
    height: 80%;
    width: auto;
    top: 0px;
    right: 200px;
    z-index: 1;
  }

  .hd3R {
    position: absolute;
    right:70px;
    top:195px;
    z-index: 3;
  }

  .p1R{
    position: absolute;
    width: 350px;
    height:auto;
    top:30px;
    right:255px;
    z-index: 4;
  }



